      
        <section class="section-header bg-primary text-white pb-9 pb-lg-13 mb-4 mb-lg-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Set New Password</h1>
                        <p class="lead">Change your password from here </p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
    <div class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n13 z-2">
            <div class="row justify-content-center form-bg-image" data-background="/../../../assets/front/assets/img/illustrations/signin.svg">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    
                    <!-- Sign IN Form -->
                    <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border border-light rounded p-4 p-lg-5 w-100 fmxw-500">
                        <div class="alert alert-danger" *ngIf="error">
                            <p>{{error}}</p>
                        </div>
                        <div class="alert alert-success" *ngIf="success">
                            <p>{{success}}</p>
                        </div> 
                        <div class="text-center text-md-center mb-4 mt-md-0">
                           
                            <h1 class="mb-3 h3">New Password</h1>
                            <p class="text-gray">set a new password</p>
                        </div>
                        <form class="mt-5" [formGroup]="NewPasswordForm" (ngSubmit)="onNewPassword()" >
                            <div class="form-group">
                                            
                                <input 
                                type="hidden"
                                id="token"
                                name="token"
                                formControlName="token"
                                value="{{token}}"
                                class="form-control"
                                >
                            </div>

                            <div class="form-group">
                                <input 
                                type="hidden"
                                id="uidb64"
                                name="uidb64"
                                formControlName="uidb64"
                                value="{{uidb64}}"
                                class="form-control"
                                >
                            </div>
                                  
                        <div formGroupName="passwords">

                            <div class="form-group">

                                 <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-lock"></i></span></div>
                                <input 
                                placeholder="New Password"
                                type="password"
                                id="password"
                                name="password"
                                formControlName="password"
                                class="form-control"
                                >
                            </div>
                                <span class="help-block" style="color: red;" *ngIf="!NewPasswordForm.get('passwords.password').valid && NewPasswordForm.get('passwords.password').touched">
                                    Field Required</span>
                               
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-lock"></i></span></div>
                                <input 
                                placeholder="Confirm Password"
                                type="password"
                                id="confirmpassword"
                                formControlName="confirmpassword"
                                name="confirmpassword"
                                class="form-control"
                                >
                                </div>
                                <span class="help-block" style="color: red;" *ngIf="!NewPasswordForm.get('passwords.confirmpassword').valid && NewPasswordForm.get('passwords.confirmpassword').touched">
                                    Field Required</span>
                                <span class="help-block" style="color: red;" *ngIf="NewPasswordForm.get('passwords').errors?.['notsame']">
                                    Passwords must be same!</span>              
                            </div>
                        
                        
                        </div>


                            <div class="mt-3"><button type="submit" class="btn btn-block btn-primary" >Change Password</button></div>
                        </form>
                    </div>
                    <!-- Sign IN Form End -->
                </div>

            </div>
        </div>
    </div>
