
  
  
  
  
  :root {
    scroll-behavior:initial;
  }
  
  body {
    font-family: 'Poppins';
    color: #000000;
    font-size: medium;
  }
  
  a {
    color: #47b2e4;;
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  /*Sections General*/
  
 
    .section-title {
    text-align: center;
    padding-bottom: 30px;
    }
    .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #000036;
    }
    .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    }
    .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
    }
    .section-title p {
    margin-bottom: 0;
    }
  
  .section-header h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #000036;
  }
  .section-header p {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 18px;
    padding-bottom: 18px;
    position: relative;
    color: #000036;
  }
  @media (max-width: 768px) {
    .section-header p {
      font-size: 30px;
      line-height: 30px;
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation
  */
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #47b2e4;
  }
  .navbar .getstarted, .navbar .getstarted:focus {
    background-image: url("src/assets/img/gggggggggggggggg.jpeg");
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #47b2e4;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #4154f1;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation
  */
  .mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #4154f1;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #4154f1;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .hero {
    width: 100%;
    height: 95vh;
    background-image: url("src/assets/img/OIP (1).jpeg")  ;
    background-size: cover;
    padding: 90px 0;
  }
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
  }
  .hero h2 {
    color: #000000;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  .hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4);
  }
  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  .hero .hero-img {
    text-align: right;
  }
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
    .hero .hero-img img {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 32px;
    }
    .hero h2 {
      font-size: 24px;
    }
    .hero .hero-img img {
      width: 100%;
    }
  }
  
  /*--------------------------------------------------------------
  # Index Page
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content {
    background-color: #ffffff;
    padding: 40px;
  }
  .about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
  }
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000036;
  }
  .about p {
    margin: 15px 0 30px 0;
    line-height: 30px;
  }
  .about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
  }
  .about .btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .about .btn-read-more:hover i {
    transform: translateX(5px);
  }
  
  /*--------------------------------------------------------------
  # Values
  --------------------------------------------------------------*/
  .values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
  }
  .values .box img {
    padding: 80px 50px;
    transition: 0.5s;
    transform: scale(1.1);
  }
  .values .box h3 {
    font-size: 30px;
    color: #000036;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .values .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  }
  .values .box:hover img {
    transform: scale(1);
  }
  
  /*---------------------Carousel-----------------------------------------*/
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

    
    /* ======= About Section CSS ======= */
#about {
  padding: 60px 0;
  background-color: #f7f8fa;
}

#about .section-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #012970;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#about .section-header p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #444;
}

#about .content ul li i {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 20px;
  color: #0d6efd; /* Couleur des icônes */
}

#about .content .btn-read-more {
  margin-top: 20px;
  display: inline-block;
  background-color: #0d6efd;
  color: #fff;
  padding: 10px 25px;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

#about .content .btn-read-more:hover {
  background-color: #0056b3;
  text-decoration: none;
  color: #fff;
}

#about .img-fluid {
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  #about .section-header h2 {
      font-size: 28px;
  }

  #about .section-header p {
      font-size: 16px;
  }

  #about .content ul li {
      font-size: 14px;
  }

  #about .content .btn-read-more {
      padding: 8px 20px;
      font-size: 14px;
  }
}

.feature-icons {
  padding: 60px 0;
}

.feature-icons h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

section {
  padding: 60px 0;
  overflow: hidden;
  background-image: url("src/assets/img/arriere-plan-afges.jpg") ;
  }
  .section-bg {
  background-image: url("src/assets/img/c.jpeg") ;

  }

 


  
