<footer class="footer section pt-6 pt-md-8 pt-lg-5 pb-2 bg-primary text-white overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal mb-0">Copyright © <a href="https://pixemantic.com/" target="_blank">pixemantic</a> <span class="current-year"></span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>