


<div *ngIf="!error404 && doc"> 
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Show My Document</h6>
                    <br>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-light">
                            <li class="breadcrumb-item"><a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../../main']"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a style="cursor: pointer;" routerLinkActive="active"
                                    [routerLink]="['../../listDocs']">Documents</a></li>
                            <li class="breadcrumb-item active" aria-current="page" style="color: gray !important;">Show Document</li>
                        </ol>
                    </nav>
                </div>
            
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-lg-6">
            <div class="card card-pricing bg-gradient-success border-0 text-center mb-4" style="background: linear-gradient(87deg,#8e169e 0,#0ea2c7 100%) !important;">
                <div class="card-header bg-transparent">
                    <h4 class="text-uppercase ls-1 text-white py-3 mb-0">{{doc.modelType}}</h4>
                </div>
                <div class="card-body px-lg-7">
                    <div class="display-2 text-white">{{doc.title}}</div><span class="text-white">{{doc.description}}</span>
                    <ul class="list-unstyled my-4">
                        
                    </ul>
                    <button type="button" class="btn btn-success mb-3" (click)="OnShow()">Show Data</button>
                    <a style="cursor: pointer;" routerLinkActive="active"
                    [routerLink]="['../../editDoc',doc.id]"><button type="button" class="btn btn-primary mb-3">Edit the Document</button></a>
                </div>
                <div class="card-footer bg-transparent"><a href="#!" class="text-white">Delete the Document</a></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">The Document</h3>
                    </div>
                    <div class="card-body" width="500" height="600"
                        style="border: 3px dashed #1E90FF ; background-image:url('../../../assets/img/imgback.png');">
                        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                        <div><img [src]="doc.file"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div *ngIf="error404 || !doc">
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div><a href="../index.html"><img class="img-fluid w-75"
                                src="../../../assets/front/assets/img/illustrations/404.svg" alt="404 not found"></a>
                        <h1 class="mt-5">Page not <span class="font-weight-bolder text-primary">found</span></h1>
                        <p class="lead my-4">Oops! Looks like you followed a bad link. If you think this is a
                            problem with us, please tell us.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>