<app-header></app-header>
   <!-- ======= Hero Section ======= -->
   <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Automating Text Extraction from Videos with OCR </h1><br>
          <h4 data-aos="fade-up" data-aos-delay="400"> Leveraging Optical Character Recognition to Analyze and Extract Text from Video Frames for Enhanced Data Processing</h4>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
             </div>
          </div>
        </div>

      </div>
    </div>
    </section>

    <section id="about" class="about"></section>
      <div class="container" data-aos="fade-up">
        <div class="row gx-0">
          
          <div class="col-md-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <header class="section-header">
              <h1>How Video OCR Works:</h1>
             
            </header>
            <div class="content">
                <ul>
                    <li>
                      <i class="ri-check-double-line"></i> Frame Extraction: Videos are made up of individual frames (images). The process involves capturing these frames at regular intervals.
                    </li>
                    <li>
                      <i class="ri-check-double-line"></i> Text Recognition: Each extracted frame is analyzed using OCR software to detect and extract text from the image. Popular OCR tools include Tesseract.js, Google Cloud Vision, or AWS Textract.
                    </li>
                    <li>
                      <i class="ri-check-double-line"></i> Displaying Results: The extracted text is then displayed to the user, enabling them to read the information captured from the video.
                    </li>
                    
                </ul>
              
            </div>
          </div>
          
          <div class="col-md-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/STEP3live.png" class="img-fluid" height="550" width="500" alt="Generative AI Enhancing OCR Image">
          </div>
          
        </div>
      </div>

      
          <h1>Challenges:</h1>
       
  
        <div class="col-md-6 d-flex align-items-center ml-auto" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/The-proposed-video-OCR-scheme.png" class="img-fluid" alt="Generative AI Enhancing OCR Image">
        </div>
        
          
          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">

                <div>
                  <h4>Video Quality</h4>
                  <p> Low-quality video can hinder text recognition due to blurry or pixelated frames.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div>
                  <h4>Real-time Processing:</h4>
                  <p>Capturing and processing each frame in real time requires significant resources and can impact performance. </p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div>
                  <h4>Image Preprocessing:</h4>
                  <p>Enhancing the image quality before performing OCR (e.g., adjusting brightness, contrast, or noise reduction) is often necessary to improve text recognition accuracy..</p>
                </div>
              </div>

               </div>
          </div>

       
   
       