
        <section class="section-header bg-primary text-white pb-9 pb-lg-13 mb-4 mb-lg-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Reset Your Password</h1>
                        <p class="lead">Lost your password ? , there's not a problem get it back from here</p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
    <div class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n13 z-2">
            <div class="row justify-content-center form-bg-image" data-background="/../../../assets/front/assets/img/illustrations/signin.svg">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="alert alert-danger" *ngIf="error">
                        <p>{{error}}</p>
                    </div>
                    <div class="alert alert-success" *ngIf="success">
                        <p>{{success}}</p>
                    </div> 
                    <!-- Sign IN Form -->
                    <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border border-light rounded p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                           
                            <h1 class="mb-3 h3">Reset Your Password</h1>
                            <p class="text-gray">Use your email to reset your password</p>
                        </div>
                        <form class="mt-5" [formGroup]="forgotPasswordForm" (ngSubmit)=" OnForgotPassword()" >
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-envelope"></i></span></div>
                                <input 
                                placeholder="Enter email"
                                type="text"
                                id="email"
                                name="email"
                                formControlName="email"
                                class="form-control"
                                >  
                            </div>
                            <span class="help-block" style="color: red;" *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">Please Enter a valid email!</span>
                        </div>


                            <div class="mt-3"><button type="submit" class="btn btn-block btn-primary" >Send Link</button></div>
                        </form>

                        <div class="d-block d-sm-flex justify-content-center align-items-center mt-4"><span class="font-weight-normal"> <a style="cursor: pointer;"   [routerLink]="['/auth']" routerLinkActive="active"  class="font-weight-bold">Back to Login</a></span></div>
                    </div>
                    <!-- Sign IN Form End -->
                </div>

            </div>
        </div>
    </div>