<app-header></app-header>
   <!-- ======= Hero Section ======= -->
   <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Revolutionizing Data Extraction </h1><br>
          <h4 data-aos="fade-up" data-aos-delay="400">How OCR Technology Transforms Images into Editable Text for Efficient Document Processing</h4>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
             </div>
          </div>
        </div>

      </div>
    </div>
    </section>

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
      
            <!-- Text Content -->
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <header class="section-header">
                <h2>Advantages of OCR</h2>
              </header>
              <div class="content">
                <h3>The main benefits of OCR are:</h3>
                <ul>
                  <li><strong>Automation:</strong> Reduces the need for manual data entry from physical documents.</li>
                  <li><strong>Efficiency:</strong> Speeds up document processing and makes it easier to access information in unstructured files.</li>
                  <li><strong>Accessibility:</strong> Makes text searchable, editable, and analyzable in digital format.</li>
                </ul>
                <div class="text-center text-lg-start">
                  <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center">
                    <span>Learn More</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
      
            <!-- Image Content -->
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
              <img src="assets/img/OCR-processing-invoices.gif" class="img-fluid" alt="OCR Processing Invoices">
            </div>
      
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
      
            <!-- Text Content -->
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <header class="section-header">
                <h2>Can OCR recognize handwritten text?</h2>
              </header>
              <div class="content">
                <h1>YES</h1>
               <p>Some types of OCR called ICR (Intelligent Character Recognition) can recognize handwritten text. However, accuracy depends on the quality of the handwriting and the algorithms used. Traditional OCR systems are generally more accurate for printed text.</p>
              
                <div class="text-center text-lg-start">
                  <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center">
                    <span>Learn More</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
      
            <!-- Image Content -->
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
              <img src="assets/img/5.jpeg" class="img-fluid" alt="OCR Processing Invoices">
            </div>
      
          </div>
        </div>
      </section>
      <section id="values" class="values">
        <div class="container" data-aos="fade-up">
          <section>
            <div class="section-title justify-content-center ">
              <h2 >Our Impact </h2>
             </div>
           </section>
          <div class="row">
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
            
                <h3>Efficiency and Productivity </h3>
                <p>Automated Data Entry: OCR technology automates the extraction of text from scanned documents and images, significantly reducing the time required for manual data entry.
                <p>Faster Document Processing: Documents that once took hours or days to process can now be handled in minutes, improving overall operational efficiency. </p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                
                <h3>FAccessibility and Usability </h3>
                <p>Enhanced Searchability: OCR converts scanned images of text into searchable and editable digital formats, making it easier to locate specific information within large volumes of data.</p>
              <p>Improved Accessibility: For individuals with visual impairments, OCR can transform printed text into formats accessible by screen readers and other assistive technologies.</p>
            </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
              <div class="box">
               
                <h3>Cost Savings</h3>
                <p>Reduction in Labor Costs: By automating text extraction, organizations can reduce the need for manual data entry staff, leading to significant cost savings..</p>
             <p>Minimized Errors: Automated OCR reduces the errors associated with manual data entry, lowering the cost of error correction and improving data accuracy.</p>
            </div>
            </div>
  
          </div>
  
        </div>
  
      </section>