<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-light navbar-theme-primary"
    style="background-color: #0648b3 !important; height:80px !important;">
    <a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['']">
        <img src="../../../assets/front/assets/img/brand/pixocr logo.png"  style="height: 80px;" width="170" alt="Logo PixOcr">
    </a>        
    <div class="container">
            <div class="navbar-collapse collapse" id="navbar_global">
              
                <ul class="navbar-nav navbar-nav-hover justify-content-center" style="padding-left: 550px !important ;">
                    <li class="nav-item"><a routerLinkActive="active" [routerLink]="['']" class="nav-link" style="color: white !important ;">Home</a></li>
                    <li class="nav-item"><a routerLinkActive="active" [routerLink]="['/extractNow']" class="nav-link" style="color: white !important ;">Extract Now</a></li>
                    <li class="nav-item"><a routerLinkActive="active" [routerLink]="['/ourServices']" class="nav-link" style="color: white !important ;">Our Services </a>   
                    </li>
                    <li class="nav-item"><a routerLinkActive="active" [routerLink]="['/contactUs']" class="nav-link "  style="color: white !important ;" >Contact Us </a>

                    </li>
                
                </ul>
            </div>
            <div class="d-none d-lg-block @@cta_button_classes"> <a class="btn btn-md btn-secondary animate-up-2"   style="cursor: pointer; background-color: #1e81b0 !important; border-color:#1e81b0 !important;"  routerLinkActive="active" [routerLink]="['/auth']" *ngIf="!isAuthenticated" ><i class="ni ni-circle-08 mr-3" ></i>Login</a></div>
            <div class="d-none d-lg-block @@cta_button_classes"> <a class="btn btn-md btn-secondary animate-up-2"   style="cursor: pointer;"   *ngIf="isAuthenticated" (click)="onLogout()"><i class="ni ni-circle-08 mr-3"></i>Logout</a></div>
        </div>
    </nav>
</header>