
 
    <section class="section-header pb-9 pb-md-11 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h1 class="display-2 mb-3">Our Solutions</h1>
            <p class="lead">Whether you’re a programmer, designer, freelancer or need Impact for a whole team our
              pricing just makes sense.</p>
          </div>
        </div>
      </div>
      <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
      <div class="container mt-n8 mt-lg-n12 z-2">
        <div class="row mt-6 mt-md-n7">
          <div class="col-md-6 col-lg-4">
            <div class="profile-card mb-7">
              <div class="card shadow-soft border-light text-center">
                <div class="profile-image"><img src="../../assets/front/assets/img/team/6.jpg" class="card-img-top" alt="image"></div>
                <div class="card-body mt-n5">
                  <h5 class="card-title">Service 1</h5>
                  <h6 class="card-subtitle"><a style="background-color:rgb(122, 241, 122) !important ;color: white !important; border-color: rgb(122, 241, 122) !important  ;" class="btn btn-sm btn-info ">Available</a></h6>
                  <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
               
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="profile-card mb-7">
              <div class="card shadow-soft border-light text-center">
                <div class="profile-image"><img src="../../assets/front/assets/img/team/7.jpg" class="card-img-top" alt="image"></div>
                <div class="card-body mt-n5">
                  <h5 class="card-title">Service 2 </h5>
                  <h6 class="card-subtitle"><a style="background-color:rgb(122, 241, 122) !important ;color: white !important; border-color: rgb(122, 241, 122) !important  ;" class="btn btn-sm btn-info ">Available</a></h6>
                  <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="profile-card mb-7">
              <div class="card shadow-soft border-light text-center">
                <div class="profile-image"><img src="../../assets/front/assets/img/team/8.jpg" class="card-img-top" alt="image"></div>
                <div class="card-body mt-n5">
                  <h5 class="card-title">Service 3</h5>
                  <h6 class="card-subtitle"><a style="background-color:rgb(240, 69, 69) !important ;color: white !important; border-color: rgb(240, 69, 69)  !important  ;" class="btn btn-sm btn-info ">Coming Soon</a></h6>
                  <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="profile-card mb-7">
              <div class="card shadow-soft border-light text-center">
                <div class="profile-image"><img src="../../assets/front/assets/img/team/9.jpg" class="card-img-top" alt="image"></div>
                <div class="card-body mt-n5">
                  <h5 class="card-title">Service 4</h5>
                  <h6 class="card-subtitle"><a style="background-color:rgb(240, 69, 69) !important ;color: white !important; border-color: rgb(240, 69, 69)  !important  ;" class="btn btn-sm btn-info ">Coming Soon</a></h6>
                  <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="profile-card mb-7">
              <div class="card shadow-soft border-light text-center">
                <div class="profile-image"><img src="../../assets/front/assets/img/team/10.jpg" class="card-img-top" alt="image"></div>
                <div class="card-body mt-n5">
                  <h5 class="card-title">Service 5</h5>
                  <h6 class="card-subtitle"><a style="background-color:rgb(240, 69, 69) !important ;color: white !important; border-color: rgb(240, 69, 69)  !important  ;" class="btn btn-sm btn-info ">Coming Soon</a></h6>
                  <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="profile-card mb-7">
              <div class="card shadow-soft border-light text-center">
                <div class="profile-image"><img src="../../assets/front/assets/img/team/4.jpg" class="card-img-top" alt="image"></div>
                <div class="card-body mt-n5">
                  <h5 class="card-title">Service 6</h5>
                  <h6 class="card-subtitle"><a style="background-color:rgb(240, 69, 69) !important ;color: white !important; border-color: rgb(240, 69, 69)  !important  ;" class="btn btn-sm btn-info ">Coming Soon</a></h6>
                  <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                  
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </section>

  
